<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>TeeFilter</filter-name>
		<filter-class>ch.qos.logback.access.servlet.TeeFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>TeeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>resteasy.server.cache.maxsize</param-name>
		<param-value>10000000</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.server.cache.eviction.wakeup.interval
		</param-name>
		<param-value>1</param-value>
	</context-param>

	<!-- <listener> <listener-class> org.jboss.resteasy.plugins.cache.server.ServletServerCache 
		</listener-class> </listener> -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher
		</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccessViewStatusMessages</servlet-name>
		<servlet-class>ch.qos.logback.access.ViewStatusMessagesServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccessViewStatusMessages</servlet-name>
		<url-pattern>/logstaus</url-pattern>
	</servlet-mapping>
</web-app>
  